body {
  background: #01007a;
  color: white;
  font-family: 'VT323', monospace;
  padding: 2rem;
  font-size: 1.5rem;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 640px;
}

.bsod {
  padding-top: 10%;
}

.bsod .neg {
  color: #01007a;
  background: white;
  padding: 0 1rem;
}

.bsod .bg {
  background: white;
  padding: 0 1rem;
}

.title {
  font-size: 3rem;
}

.nav {
  margin-top: 1.5rem;
}

.link {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}

.link:hover {
  border-bottom: 1px solid white;
}
